<footer class="footer bg-light py-3 mt-auto fixed-bottom">
<div class="container text-center">
    <span class="text-muted"> &copy; RePolyglot 2026 - Esther Schlesinger
   <a href="https://github.com/polyglotpress" target="_blank"><img src="/images/github.svg" alt="github link"></a> 
   <a href="www.linkedin.com/in/esther-schlesinger-240607334" target="_blank"><img src="/images/linkedin.svg" alt="linkedin link"></a> 
</span>
</div>
</footer>