<link rel="stylesheet" href="/css/style.css">


<footer class="footer py-3 mt-auto fixed-bottom">

  <div class="container row align-items-center">
    <div class="col-md-6 text-center text-md-start text-dark"> &copy; RePolyglot 2026 - Esther Schlesinger </div>

    <div class="col-md-6 text-center text-md-end">

      <div class="socials">
        <a class="" href="https://github.com/polyglotpress" target="_blank"><img src="/images/github.svg"
            alt="github link"></a>

        <a class="" href="https://linkedin.com/in/esther-schlesinger-240607334" target="_blank"><img
            src="/images/linkedin.svg" alt="linkedin link"></a>
      </div>
    </div>
  </div>

</footer>