<link rel="stylesheet" href="/css/style.css">


<nav class="navbar fixed-top navbar-expand-lg ">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">RePolyglot</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tasks">Tasks</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/members">Members</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/tips">Tips</a>
                </li>
                
            </ul>
            <div class="nav-item dropdown nav navbar-nav navbar-right">
                <ul class="navbar-nav me-auto my-2 my-lg-0">
                    <% if(!currentUser) {%>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Sign Up</a>
                        </li>
                        <% } else { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/<%= currentUser._id%>/dashboard">
                                    Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Logout</a>
                            </li>
                        <% } %>
                </ul>
            </div>
        </div>
    </div>
</nav>