<script src="/js/languages.js" defer></script>
<!-- sample api fetch -->

<% layout('layouts/boilerplate.ejs')%>

    <button onclick="getCountryFromAPI()">fetch</button>
    <button onclick="fetchFlagUrl('he')">fetch flag</button>
    <div id="flag"></div>

    <div class="container col-8 offset-2 mt-5">
        <h1 class="mt-5 text-center title">Missing the Plot?</h1>
        <h5 class="mt-4 text-center sub-title">Structure, Motivate, <em>RePolyglot</em>.</h5>

        <!-- show below if user not logged in -->
        <% if(!currentUser) { %>
            <div class="home-btns mt-5 mb-4 d-flex justify-content-center">
                <a class="btn btn-success px-4 py-3 mx-4" href="/register">Sign Up</a>
                <a class="btn btn-success px-4 py-3" href="/login">Log In</a>
            </div>
            <% } else {%>
                <p>Hi <%= currentUser.firstname || currentUser.username %>!</p>

                <% } %>

                    <section class="about-repolyglot">
                        <p id="about-repolyglot-1">
                            Re-Polyglot is a project providing aspiring autodidact polyglots
                            with tructure to help them progress in their language-learning mission.
                        </p>

                        <p id="about-repolyglot-2">

                        <ul class="mx-3">
                            <li>Create an account</li>
                            <li>Start building tasks</li>
                            <li>Add notes to customise learning</li>
                        </ul>

                        </p>

                        <p class="lead">
                            This is not a language course. This is your own course to success.
                        </p>

                    </section>
    </div>