<% layout('layouts/boilerplate.ejs')%>

    <div class="container col-8 offset-2">
        <h1 class="mt-5 text-center">RePolyglot:</h1>

        <h5 class="text-center mt-4">Myself in mind, you benefit.</h5>

        <!-- show below if user not logged in -->
        <% if(!currentUser) { %>
            <div class="d-flex justify-content-center">
                <p><a class="btn btn-info m-3" href="/register">Sign Up</a></p>
                <p><a class="btn btn-info m-3" href="/login">Log In</a></p>
            </div>
            <% } else {%>
                <p>Hi <%= currentUser.firstname || currentUser.username %>!</p>

                <% } %>

                    <section class="about-repolyglot">
                        <p id="about-repolyglot-1">
                            Re-Polyglot is a project providing aspiring autodidact polyglots
                            with tools to progress in their language-learning mission.
                        </p>

                        <p id="about-repolyglot-2">
                            See and create learning tasks, track tasks with notes, and save to continue
                            tomorrow. Customise your languages and mark tasks as completed. Add words or concepts
                            you are struggling to memorise to a custom list to practice later.
                            Be sure, the site provides you with task inpiration as a starting point.
                        </p>
                        <p>I am passionate about languages and always thought about how
                            language courses and apps are not helpful for me. I learn in a completely
                            different manner and at a faster pace.
                            But since I often lack motivation or structure, I fail to progress in my mission
                            towards hyperpolyglotism. That is why I coded this website.
                        </p>
                        <p id="about-repolyglot-3">
                            This is not a language course. This is where you take your own course to success.
                        </p>
                        <p id="about-repolyglot-4">
                            Re-Polyglot is here to help you, trust me - I built it for myself.
                        </p>

                    </section>

    </div>