<% layout('layouts/boilerplate.ejs')%>

    <h1 class="display-6 text-center mt-5 mb-5">RePolyglot tips</h1>


    <div class="container">
        <div class="row">
            <% tips.forEach((tip)=>{ %>


                <div class="col">
                    <div class="card">
                        <h5 class="card-title">
                            <%= tip.category %>
                        </h5>
                        <div class="card-body">
                            <%= tip.details %>
                        </div>
                        <% if(!tip.isAnonymous) { %>
                            <div class="card-body">posted by <%= tip.author.username %>
                                    <% } else { %>
                                        <div class="card-body">posted anonymously %>

                                            <% } %>
                                        </div>
                            </div>
                    </div>

                    <% }) %>
                </div>
        </div>



        <!-- <a href="/tips/new">Add Tip</a> -->

        <button type="button" class="btn btn-primary mb-5" data-bs-toggle="modal"
            data-bs-target="#add-tip-modal">New</button>

        <!-- modal -->

        <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="add-tip-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Give Polyglot Advice</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>


                    <form class="mt-3" action="/tips" method="POST">
                        <div class="modal-body">

                            <div class="form-floating mb-3">
                                <input class="form-control" id="tip-cat" type="text" placeholder="tip category"
                                    name="category">
                                <label class="form-label" for="tip-cat">Title:</label>
                            </div>

                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="tip-details" name="details" required></textarea>
                                <label class="form-label" for="tip-cat">Tip:</label>
                            </div>

                            <!-- <div class="form-floating mb-3">
                            <input class="form-control" id="tip-5" type="text" placeholder="tip category">
                            <label class="form-label" for="tip-cat">Tags:</label>
                        </div> -->

                            <div class="form-check">
                                <input class="form-check-input border-dark" type="checkbox" name="anonymousCheckbox"
                                    id="anonymous-checkbox">
                                <label class="form-check-label" for="anonymous-checkbox">Post anonymously</label>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" id="submit-tip" class="btn btn-primary">Post</button>
                        </div>

                </div>
                </form>
            </div>
        </div>
    </div>