/* all views */
.not-owner .owner-only {
    display: none;
}

body {
    background-color: white;
    /* color: #2c3e50; */
    margin-top: 50px;
}

.btn {
    background-color: #4056A1;
}

/* home */

.title {
    font-size: 55px;
}

.sub-title {
    font-size: 40px;
}

.about-repolyglot {
    font-size: 20px;
}

.lead {
    font-size: 24px;
}



.update-profile-btn {
    /* background-color: #237227; */
    color: white;
    border: 1px solid black;
}

/* flash messages */
.alert {
    width: 90%;
    height: 45px;
    padding: 15px;
    border-radius: 6px;
    color: black;
    text-align: center;
    font-weight: 700;
}

.alert-success {
    border: 2px solid #4056A1;
    background-color: #4056A1;
}

.alert-danger {
    border: 2px solid red;
    background-color: rgb(216, 138, 128)
}

/* partials navbar & footer */
.navbar {
    background-color: #4056A1 !important;
    color: antiquewhite !important;
    border-bottom: 2px solid black;
    font-weight: 700;
}

.navbar-nav li {
    color: antiquewhite !important;
}

.footer {
    background-color: #4056A1 !important;
    border-top: 2px solid black;
    font-weight: 700;
}


/* login & register */

.login-body,
.register-body {
    padding: 14px;
    color: #2c3e50;
    margin-top: 25px;
}

.form-control {
    border: 1px solid black;
}

/* large buttons */

.blue-btn {
    color: white;
    border: 1px solid black;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.blue-btn:hover, .blue-btn-small:hover {
    background-color: #6ab1d1;
    color: black;
    border: 1px solid black;
}


/* smaller buttons */

.blue-btn-small {
     color: white;
    border: 1px solid black;
}


/* link to wordlists */
.word-list-link {
    border: none;
    text-decoration: underline;
    background-color: white;
}

.word-list-create{
    border: 1px solid #4056A1;
    background-color: white;
    border-radius: 6px; 
}

/* members page  */

.members-flags img {
    width: 25px;
    
}

/* tips */

#tip-details {
    height: 250px;
}

/* all tasks index */

.title-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    /* space between title and button */
}

.card {}

/* task show single page */

/* task edit page */