/* all views */

body{
    background-color: #FFD786;
    color: #2c3e50;
    margin-top: 50px;
}


#tip-details{
    height: 250px;
}
/* all cards */

/* .card {
    background-color: #519A66;
    border: 2px solid black;
} */

.update-profile-btn{
     background-color: #237227;
    color: white;
    border: 1px solid black;
}


.alert {
    width: 80%;
    padding: 15px;
    border-radius: 4px;
    background-color: white;
}

.alert-success {
    border: 2px solid #237227;
    /* background-color: #FFD786; */
    color: #237227;
}

.alert-danger {
    /* color: #721c24;
    background-color: #f8d7da; */
    border: 2px solid red;
    color:red;
     /* background-color: #FFD786; */
}

.navbar-light {
    background-color: #519A66 !important;
    border-bottom: 1px solid black;
    /* color: #E3DCD2; */
}

.footer{
     background-color: #519A66 !important;
     border-top: 1px solid black;
}



/* 
login style */

.login-body, .register-body{
    background-color: #FFD786;
    color: #2c3e50;
    margin-top: 15px;
}

.form-control {
    border: 1px solid black;
}

.login-btn, .register-btn {
    background-color: #237227;
    color: white;
    border: 1px solid black;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.login-btn:hover, .register-btn:hover{
      background-color: #519A66;
      border: 1px solid black;
}


/* tips */

