<% layout('layouts/boilerplate.ejs')%>
 <h1 class="mt-4 mb-4 text-center">Login</h1>
    <form class="mt-4" action="/users/login" method="POST">

        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" id="username" class="form-control" name="username" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" id="password" class="form-control" name="password" required>
        </div>

        <button class="btn btn-dark">Login</button>
        
<p>Don't have an account?</p>
 <a class="btn btn-primary" href="./register">Go to Register</a>
    </form>