<% layout('layouts/boilerplate.ejs')%>

  <div class="col-4 offset-1 mt-4">
    <form action="/<%= user._id %>/languages" method="POST">

      <p>
        Add language to <%= user.username %>'s profile:
      </p>
      <div class="mb-3">
     

        <div class="input-group mb-3">
          <input type="text" id="language" placeholder="Add language" class="form-control" name="user[addedLanguage]">
          <button class="btn btn-primary
              ">Save</button>
        </div>
      </div>


    </form>

  </div>