<script type="module" src="/js/languages.js"></script>

<% layout('layouts/boilerplate.ejs')%>

  <h1 class="display-6 text-center mt-4 mb-4">Another Language?</h1>
  <form action="/<%= user._id %>/languages" method="POST">
    <div class="input-group col-lg-6 col-md-8 col-sm-10">
      <div class="form-floating">
        <input type="text" id="language" class="form-control" name="addedLanguage" placeholder="Add Language">
        <label class="form-label" for="language">Insert language</label>
      </div>
      <button class="btn btn-primary">Add</button>
    </div>
  </form>