<!-- <script src="/js/wordList.js"> defer</script>

<% layout('layouts/boilerplate.ejs')%>

    <h1 class="display-6 mt-4">
        <%= user.username %>'s <%= wordList.name %> list
    </h1>

    <p>
        <%= wordList.description %> <span> <button class="word-list-btn"> edit description</button></span>
    </p>

    <button class="word-list-btn">add word</button>

    <% for(let word of wordList.words) { %>
        <p>
            <%= word %> <span><button class="word-list-btn">-</button></span>
        </p>

        <% } %>

            <button class="word-list-btn"> delete List</button> -->